<!DOCTYPE html>
<html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<body text = "blue">
		</body>
</html>

<center><img class="irc_mi" src="http://rs732.pbsrc.com/albums/ww327/MarandaKay_01/hands1.jpg~c200" alt="Image result for praying hands images with cross" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500" height="500" style="margin-top: 10px;"></center>

<body>

</body>
</html>

<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

</body>
</html>


<!DOCTYPE html>
<html>

<h1><center>FAITH</center></h1>
<h2><center><b>"Jesus Christ is my Lord and Savior!"</center></h2>
<center>Put on the whole armor of God, that you may be able to
	stand against the wiles of the devil...                                                      Ephesians 6:11<b></center>
<br>
<br>

<center><b>THE MODEL PRAYER<b></center>
<center><b>So He said to them, "When you pray, say:<br>
	Our Father in heaven,<br>
	Hallowed be Your name.<br>
	Your kingdom come.<br>
	Your will be done<br>
	On earth as it is in heaven.<br>
	Give us day by day our daily bread.<br>
	And forgive us our sins,<br>
	For we also forgive everyone who is<br>
	    indebted to us.<br>
	And do not lead us into temptation,<br>
	But deliver us from the evil one."<br>

	<br>
							Luke 11:2,3,4<b></center> 

<!DOCTYPE html>
<html>
<body>

<iframe width="10" height="10" src="https://www.youtube.com/embed/ogxLNlgKM8c?autoplay=1">
</iframe>

</body>
</html>
<center><img class="irc_mi" src="https://notmylifetolive.files.wordpress.com/2014/04/isaiah-4031.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="203" style="margin-top: 10px;" alt="Image result for isaiah 40 31 kjv">

<img class="irc_mi" src="https://kristiann1.files.wordpress.com/2015/02/10986991_1022888771059012_4595906567424497433_n.jpg?w=800&amp;h=800" alt="Image result for john 3 16 kjv" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="304" style="margin-top: 10px;">
<img class="irc_mi" src="http://christianhomekeeper.org/files/2011/01/tl-psalm_7_10.jpg" alt="Image result for psalm 10 6" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="243" style="margin-top: 10px;"></center>

<center> <h3>Never lose faith in God for He is always with you, through the good and the bad.<h3></center>


<center><img class="irc_mi" src="https://i.pinimg.com/736x/40/e4/71/40e471443e8b05c878fac4df361ca9fb--love-of-god-gods-love.jpg" alt="Image result for psalm 10 6" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="304" style="margin-top: 10px;"></center>
<center><h3>Hopefully this will serve as a small reminder<br>
	that you are never alone. God is always with you.<br>
	In this world we are living in, please keep your<br>
	Faith.<br>
	Without Faith, the ways of the world take over.<br>
	With Faith, God takes over and what a relief it is!<h3>
